
%h1= 'blah'

%table
  %tr
    %th Text
    %th Fetched At
    %th Tracker

  %tbody
    - @pieces.each do |piece|
      %tr
        %td=piece.text
        %td=piece.created_at
        %td=piece.tracker.name

